/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* css component files */
@import './components/navbar.css';
@import './components/hero.css';
@import './components/about.css';
@import './components/features.css';
@import './components/products.css';
@import './components/working.css';
@import './components/footer.css';

/* CSS Variables */
:root {
    --black-color : #000;
    --navy-blue : #0a58ca;
    --light-blue : #cfe2ff;
    --gray : #555;
}

body {
    font-family: "Roboto", sans-serif;
}

/* custom media queries */
@media screen and (max-width: 992px) {
    #about {
        gap: 3rem;
    }
}