.hero-content__text span {
    color: var(--navy-blue);
}

.hero-content__text h1 {
    font-size: 3.5rem;
}

.hero-content__text p {
    color: #555;
}

.hero-content__img {
    max-width: 39rem;
}

.hero__button button {
    min-width: 12rem;
    background-color: var(--navy-blue);
}