.main__hero {
    height: fit-content;
    overflow: hidden;
    background: linear-gradient(180deg, #c4b6fd, #93acfc);
}

.main__button {
    background-color: var(--navy-blue);
    color: #fff;
    transition: all 0.3s ease-in-out 0s;
        &:hover {
            color: white;
            background-color: var(--navy-blue);
            opacity: 0.85;
        }
}

.nav-item a {
    color: #000;
    opacity: 0.65;
    transition: all 0.150s ease-in-out 0s;
    &:hover {
        color: var(--navy-blue);
    }
}

.main__container > a {
    color: var(--navy-blue);
    &:hover {
        color: var(--navy-blue);
    }
}
